body {
	color: #333333;
	font-family: "PT Sans", "Arial", serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	margin: 0;
	padding: 0;
	background-color: #F2F2F2;
}

.container{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}

 ul,li,p {
 	margin:0;
 	padding:0;
 }

h1 {
	color: #000000;
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	margin: 0;
}

h2{
	color: #000000;
	font-weight: 700;
	margin: 0;
}

.heading-reason {
	font-size: 21px;
}

.heading-search {
	font-size: 30px;
	line-height: 24px;
}

.nav-list{
	list-style-type: none;
	padding: 0;
}

.nav-item{
	float: left;
	width: 240px;
}

.nav-item:nth-child(3){
	margin-left: 240px;
}

.main-header{
	position: relative;
}

.logo{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -69px;
}

.promo{
	width: 1200px;
}


.reason-line{
	background-color: #81b3d2;
	color: #ffffff;
}

.reason-block, .reason-block1{
	float: left;
	width: 400px;
}

.reason-picture{
	float: left;
	width: 800px;
	height: 256px;
	position: relative;
	overflow: hidden;
}

.reason-img{
	width: 100%;
	height: auto;
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
}

.form{
	background-color: lightgreen;
	margin-left: 368px;
	margin-right: 368px;
	width: 568px;
}

.footer-hashtag, .footer-social, .footer-copyright{
	float: left;
	width: 400px;
}

.selection-hotels{
	background-color: pink;
}

.infrastructure{
	float: left;
}

.accommodation{
	float: left;
}

.cost{
	float: right;
}

.compilation-hotels{
	background-color: lightblue;
}

.sorting-hotels, .hotel{
	float: left;
	width: 1200px;
}

.found, .sorting-name, .sorting-item{
	float: left;
}

.sorting-list{
	list-style-type: none;
}

.sorting-nav{
	float: right;
}

.img-hotel{
	float: left;
}

.reservation{
	float: left;
}

.rating{
	float: right;	
}