body {
	color: rgba(0,0,0,1);
	font-family: "PT Sans", "Arial", serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	margin: 0;
	padding: 0;
	background-color: rgba(242,242,242,1);
}

.container{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255,255,255,1);
	color: rgba(0,0,0,1);
}

	/*header*/
.main-header{
	position: relative;
}

.nav-list{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}

.nav-item{
	float: left;
	width: 240px;
	padding: 0;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

.nav-item:nth-child(3){
	margin-left: 240px;
}

.nav-link{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: rgba(0,0,0,1);
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: 700;
}

/*.nav-link:link{
	color: rgba(0,0,0,1);
}*/

.nav-link:hover{
	color: rgba(129,179,210,1);
}

.nav-link:active{
	color: rgba(0,0,0,.3);
}

.active{
	color: rgba(118,99,87,1);
}

.logo{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -69px;
	z-index: 1;
}


	/*index*/
.background-image{
	background-image: url(../img/background-photo.jpg);
	background-position: 100% 21%;
	height: 508px;
	position: relative;
}

.background-image::before{
	content: "";
	position: absolute;
	top: 76px;
	left: 371px;
	background-image: url(../img/sedona.png);
	background-repeat: no-repeat;
	height: 352px;
	width: 100%;
}

.background-image::after{
	content: "";
	position: absolute;
	bottom: 0;
	margin: auto;
	background-image: url(../img/mask.png);
	background-repeat: no-repeat;
	height: 57px;
	width: 100%;
}

.promo{
	text-align: center;
}

.promo-heading {
	color: rgba(0,0,0,1);
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	padding-top: 60px;
}

.promo-paragraph{
	padding: 0;
	padding-top: 27px;
	padding-bottom: 51px;
	margin: 0;
	text-transform: uppercase;
	line-height: 26px;
}

.reason-line{
	background-color: rgba(129,179,210,1);
	color: rgba(255,255,255,1);
}

.reason-block{
	float: left;
	width: 400px;
	box-sizing: border-box;
	padding-left: 45px;
	padding-right: 55px;
}

.reason-blocka{
	float: left;
	width: 400px;
	box-sizing: border-box;
	padding-left: 24px;
	padding-right: 34px;
}

.reason-heading{
	color: inherit;
	font-weight: 700;
	font-size: 21px;
	line-height: inherit;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 0;
	padding-left: 9px;
	padding-top: 46px;
}

.reason-number{
	text-align: center;
	padding-top: 24px;
	padding-left: 10px;
	font: inherit;
}

.reason-paragraph{
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 0;
	padding-top: 21px;
}

.reason-picture{
	float: left;
	width: 800px;
	height: 256px;
	position: relative;
	overflow: hidden;
}

.reason-img{
	width: 100%;
	height: auto;
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
}

.reason-row1{
	background-color: rgba(238,238,238,1);
	color: rgba(0,0,0,1);
	padding-bottom: 60px;
}

.reason-block1{
	float: left;
	width: 400px;
	box-sizing: border-box;
	padding-left: 60px;
	padding-right: 60px;
}

.reason-block1a{
	padding-left: 50px;
	padding-right: 50px;
}

.reason-heading-block1-img1{
	font-size: 21px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	width: 75px;
	height: 72px;
	position: relative;
	margin-top: 160px;
	margin-left: 102px;
}

.reason-heading-block1-img1::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	margin-top: -100px;
}

.icon1::before{
	width: 75px;
    height: 72px;
    background-position: -5px -731px;	
}

.reason-heading-block1-img2{
	font-size: 21px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-top: 160px;
	margin-left: 113px;
	width: 74px;
	height: 70px;
}

.reason-heading-block1-img2::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	margin-top: -99px;
}

.icon2::before{
	width: 74px;
    height: 70px;
    background-position: -5px -846px;	
}

.reason-heading-block1-img3{
	font-size: 21px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin-top: 160px;
	margin-left: 89px;
	width: 64px;
	height: 74px;
}

.reason-heading-block1-img3::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
	margin-top: -103px;
	margin-left: 19px;
}


.icon3::before{
	width: 64px;
    height: 76px;
    background-position: -5px -926px;	
}

.reason-heading1{
	font-size: 21px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	margin: 0;
	padding: 0;
	padding-top: 47px;
}

.reason-paragraph1{
	text-align: center;
	margin: 0;
	padding: 0;
	margin-top: -26px;
	padding-bottom: 80px;
	text-transform: uppercase;
}

.reason-paragraph2{
	text-align: center;
	margin: 0;
	padding: 0;
	margin-top: -25px;
	padding-bottom: 79px;
	text-transform: uppercase;
}

.reason-paragraph3{
	text-align: center;
	margin: 0;
	padding: 0;
	margin-top: -29px;
	padding-bottom: 83px;
	text-transform: uppercase;
}

.hotel-search-heading{
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	font-size: 30px;
	line-height: 24px;
	margin: 0;
	padding: 0;
	padding-top: 54px;
	padding-bottom: 28px;
}

.hotel-search-paragraph{
	text-transform: uppercase;
	text-align: center;
	line-height: 24px;
	margin: 0;
	padding: 0;
}

.hotel-search-btn{
	background-color: rgba(118,99,87,1);
	color: rgba(255,255,255,1);
	border: none;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 400;
	line-height: 26px;
	cursor: pointer;
	display: block;
	padding-bottom: 31px;
	padding-top: 27px;
	width: 568px;
	text-align: center;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	outline: none;
}

.map{
	position: relative;
}

.map-img{
	display: block;
}

.form{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -284px;
	width: 458px;
	padding: 55px;
	font-size: 0;
	background-color: rgba(255,255,255,1);
}

.form-name-input{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	line-height: 26px;
	width: 100px;
}

.form-input-arrival, .form-input-departure{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	line-height: 26px;
	background-color: rgba(242,242,242,1);
	border: none;
	height: 38px;
	width: 290px;
	padding-left: 12px;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 30px;
	margin-right: 0px;
	outline: none;
	cursor: pointer;
}

.form-input-arrival{
	margin-left: 21px;
}

.form-input-arrival:hover{
	background-color: rgba(235,235,235,1);
}

.form-input-arrival:active{
	background-color: rgba(255,255,255,1);
	border: rgba(229,229,229,1) solid 2px;
	height: 34px;
	width: 288px;
	padding-left: 10px;
}

.form-input-departure{
	margin-left: 17px;
}

.form-input-departure:hover{
	background-color: rgba(235,235,235,1);
}

.form-input-departure:active{
	background-color: rgba(255,255,255,1);
	border: rgba(229,229,229,1) solid 2px;
	height: 34px;
	width: 288px;
	padding-left: 10px;
}

.form-icon1{
	margin-left: 0px;
	display: inline-block;
	background-color: rgba(242,242,242,1);
	vertical-align: top;
	width: 39px;
	height: 38px;
	position: relative;
	margin-right: 0px;
	cursor: pointer;
}

.form-icon1::before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
}

.form-icon-calendar::before{
	width: 21px;
    height: 22px;
    background-position: -5px -5px;
}

.form-icon-calendar:hover::before{
	width: 21px;
    height: 22px;
    background-position: -5px -69px;
 }

  .form-icon-calendar:active::before{
	width: 21px;
    height: 22px;
    background-position: -5px -37px;
 }

.form-adults, .form-children{
	display: inline-block;
	vertical-align: top;
}

.form-button1{
	display: inline-block;
	vertical-align: top;
	background-color: rgba(242,242,242,1);
	border: none;
	width: 38px;
	height: 38px;
	font-size: 0;
	cursor: pointer;
	position: relative;
	outline: none;
}

.form-button1::before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
}

.button-minus1{
	margin-left: 40px;
}

.button-minus2{
	margin-left: 27px;
}

.button-plus1{
	margin-right: 45px;
}

.button-minus1::before{
	width: 12px;
    height: 3px;
    background-position: -5px -485px;
}

.button-minus1:hover::before{
	width: 12px;
    height: 3px;
    background-position: -5px -511px;
}

.button-minus1:active::before{
	width: 12px;
    height: 3px;
    background-position: -5px -498px;
}

.button-minus2::before{
	width: 12px;
    height: 3px;
    background-position: -5px -485px;
}

.button-minus2:hover::before{
	width: 12px;
    height: 3px;
    background-position: -5px -511px;
}

.button-minus2:active::before{
	width: 12px;
    height: 3px;
    background-position: -5px -498px;
}

.button-plus1::before{
	width: 11px;
    height: 11px;
    background-position: -5px -524px;
}

.button-plus1:hover::before{
	width: 12px;
    height: 11px;
    background-position: -4px -566px;
}

.button-plus1:active::before{
	width: 12px;
    height: 11px;
    background-position: -4px -545px;
}

.button-plus2:before{
	width: 11px;
    height: 11px;
    background-position: -5px -524px;
}

.button-plus2:hover::before{
	width: 12px;
    height: 11px;
    background-position: -4px -566px;
}

.button-plus2:active::before{
	width: 12px;
    height: 11px;
    background-position: -4px -545px;
}

.form-input-number-people{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	line-height: 26px;
	background-color: rgba(242,242,242,1);
	border: none;
	width: 38px;
	height: 38px;
	text-align: center;
	padding: 0;
	outline: none;
	cursor: pointer;
}

.form-input-number-people:hover{
	background-color: rgba(235,235,235,1);
}

.form-input-number-people:active{
	background-color: rgba(255,255,255,1);
	border: rgba(229,229,229,1) solid 2px;
	height: 34px;
	width: 34px;
}

.form-button-tofind{
	display: inline-block;
	background-color: rgba(129,179,210,1);
	color: rgba(255,255,255,1);
	border: none;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 400;
	line-height: 26px;
	cursor: pointer;
	width: 458px;
	padding: 0;
	margin: 0;
	padding-bottom: 15px;
	padding-top: 15px;
	text-align: center;
	margin-top: 54px;
	outline: none;
}

.form-button-tofind:hover{
	background-color: rgba(102,158,192,1);
}

.form-button-tofind:active{
	background-color: rgba(84,150,189,1);
	color: rgba(255,255,255,.3);
}

	/*hotels*/
.selection-hotels{
	background-image: url(../img/filter-background.jpg);
	background-color: #4976A0;
	padding-top: 27px;
	padding-left: 60px;
	padding-bottom: 22px;
}

.infrastructure, .accommodation{
	float: left;
	border: none;
	color: #FFFFFF;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;

}

.legend{
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
	text-transform: uppercase;
}

.label-check {
    display: block;
    position: relative;
  	margin-bottom: 5px;
}

.label-check {
    display: block;
    position: relative;
	  margin-top: 9px;
	  padding-top: 11px;
	  padding-left: 1px;
  	margin-bottom: 1px;
}
.legend-lodging{
	margin-left: 92px;
}

.label-check-lodging{
	margin-left: 93px;
}

.checkbox {
  position: absolute;
  top: 0;
  left: -9999px;
	padding-top: 10px;
}

.checkbox-signing-up{
	margin-left: 10px;
}
.checkbox-elem{
  position: relative;
  width: 22px;
  height: 21px;
  border: 2px solid rgba(254,254,254,1);
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  box-sizing: border-box;

}

.checkbox-lodging{
	margin-left: 92px;
}
.checkbox-elem:hover{
    border-color: rgba(255,255,255,1);
}

.checkbox:disabled + .checkbox-elem{
    border-color: rgba(106,106,106,1);
}

.checkbox-custom{
  display: inline-block;
  vertical-align: middle;
  width: 0px;
  height: 0px;
  background-image: url(../img/checkbox1.png);
}

.checkbox:checked:disabled ~ .checkbox-custom{
    background-image: url(../img/checkbox1.png);
}

.checkbox:checked  + .checkbox-elem{
  display: none;
}

.checkbox:checked  ~ .checkbox-custom{
  width: 26px;
  height: 22px;  
}

.cost{
	float: right;
	border: none;
	color: rgba(255,255,255,1);
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	width: 330;
	margin-right: 65px;
}

.price-controls{
	height: 36px;
	margin-bottom: 20px;
	border-radius: 2px;
	border: 2px solid rgba(255,255,255,1);
	font-size: 0;
	position: relative;
}

.price-controls::after{
	content: "";
	position: absolute;
	width: 2px;
	height: 22px;
	background-color: rgba(255,255,255,1);
	background-image: url(../img/icon-line.png);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.price-controls label{
	display: inline-block;
	line-height: 38px;
	font-size: 14px;
	vertical-align: top;
	cursor: pointer;
}

.price-controls .price-min, .price-controls .price-max{
	width: 90px;
	padding-left: 65px;
}

.price-controls input{
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	border: none;
	background: none;
	outline: none;
}

.range-controls{
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale{
	height: 2px;
	background-color: rgba(255,255,255,.3);
}

.range-controls .bar{
	height: 2px;
	width: 80%;
	background-color: rgba(255,255,255,1);
}

.range-toggle{
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background-color: rgba(171,171,171,1);
	border: 8px solid rgba(255,255,255,1);
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0,0,0,.2);
	cursor: pointer;
}

.range-toggle-min{
	left: 0;
}

.range-toggle-max{
	left: 80%;
}

.range-toggle:hover{
	background-color: rgba(28,79,128,1);
}

.btn-transparent{
	display: block;
	background-color: transparent;
	color: rgba(255,255,255,1);
	border: 2px solid rgba(255,255,255,1);
	border-radius: 2px;
	text-transform: uppercase;
	margin: 0 auto;
	padding: 6px 36px;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	cursor: pointer;
	outline: none;
}

.btn-transparent:hover{
	background-color: rgba(255,255,255,1);
	color: rgba(0,0,0,1);
	border: 2px solid rgba(255,255,255,0);
}

.sorting-hotels{
	float: left;
	width: 1200px;
}

.found, .sorting-name, .sorting-item, .img-hotel, .reservation{
	float: left;
}

.found{
	padding-left: 72px;
	padding-top: 30px;
}

.found-text{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	margin: 0;
	padding: 0;
	padding-right: 6px;
}

.sorting{
	padding-right: 73px;
	padding-bottom: 30px;
}

.sorting-hotels{
	border-bottom: 1px solid rgba(229,229,229,1)
}

.sorting-name, .sorting-link{
	display: block;
	margin-top: 36px;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
}

.sorting-name{
	margin-left: 41px;
	margin-right: 6px;
}

.sorting-list{
	list-style-type: none;
	margin:0;
 	padding:0;
}

.sorting-item{
	margin:0;
 	padding:0;
}

.sorting-link{
	color: rgba(0,0,0,.3);
	border-bottom: 1px dotted rgba(129,179,210,1); 
	text-decoration: none;
	margin-left: 34px;
}

.active-sorting-link{
	color: rgba(129,179,210,1);
	border-bottom: none;
}

.active-sorting-link:hover{
	border-bottom: 1px dotted rgba(129,179,210,1);
}

.sorting-link:hover{
	color: rgba(129,179,210,1);
}

.sorting-link:active{
	color: rgba(0,0,0,1);
	border-bottom: none;
}

.sorting-nav, .rating{
	float: right;
}

.sorting-nav{
	display: inline-block;
	vertical-align: top;
	width: 11px;
	height: 10px;
	position: relative;
	margin-top: -16px;
	font-size: 0;
}

.sorting-nav::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0 auto;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
}

.nav-up{
	margin-right: 23px;	
}

.nav-down{
	margin-top: -17px;
}

.nav-up::before{
	width: 11px;
    height: 10px;
    background-position: -5px -612px;
 }

.nav-down::before{
	width: 11px;
    height: 10px;
    background-position: -5px -229px;
 }

.nav-down-active::before{
	width: 11px;
    height: 10px;
    background-position: -5px -289px;
 }

 .nav-up:hover::before{
	width: 11px;
    height: 10px;
    background-position: -5px -632px;
 }

.nav-down:hover::before{
	width: 11px;
    height: 10px;
    background-position: -5px -249px;
 }

 .nav-up:active::before{
	width: 11px;
    height: 10px;
    background-position: -5px -652px;
 }

.nav-down:active::before{
	width: 11px;
    height: 10px;
    background-position: -5px -269px;
 }

.hotel{
	float: left;
	width: 1200px;
	/*padding-top: 25px;*/
	border-bottom: 1px solid rgba(229,229,229,1)
}


.img-hotel{
	margin-top: 30px;
	margin-left: 72px;
	margin-right: 24px;
	margin-bottom: 25px;
}

.reservation{
	width: 280px;
}

.name-hotels{
	display: inline-block;
	vertical-align: top;
	margin-top: 25px;
	margin-left: 7px;
	font-weight: 700;
	font-size: 21px;
	line-height: 26px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
}

.name-hotels:link{
	color: #000000;
}

.name-hotels:visited{
	color: #000000;
}

.name-hotels:hover{
	color: #81b3d2;
}

.name-hotels:active{
	color: #000000;
	opacity: .3;
}

.rating{
	padding-right: 51px;
	position: relative;
}

.read-more, .make-reservation{
	display: inline-block;
	vertical-align: top;
	margin-left: 6px;
}

.read-more{
	margin-top: 7px;
	margin-left: 6px;
}

.make-reservation{
	margin-top: 7px;
	margin-left: 3px;
}

.read-phrase, .btn-read, .make-phrase, .btn-reserv{
	display: block;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
}

.btn-read, .btn-reserv{
	margin-top: 14px;
}

.btn-read{
	background-color: #81B3D2;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: 700;
	width: 110px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}

.btn-read:link{
	background-color: #81B3D2;
	color: #FFFFFF;
}

.btn-read:visited{
	background-color: #81B3D2;
	color: #FFFFFF;
}

.btn-read:hover{
	background-color: #669EC0;
	color: #FFFFFF;
}

.btn-read:active{
	background-color: #5496BD;
	color: rgba(255,255,255,.3);
}

.btn-reserv{
	background-color: #766357;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: 700;
	width: 142px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}

.btn-reserv:link{
	background-color: #766357;
	color: #FFFFFF;
}

.btn-reserv:visited{
	background-color: #766357;
	color: #FFFFFF;
}

.btn-reserv:hover{
	background-color: #604E43;
	color: #FFFFFF;
}

.btn-reserv:active{
	background-color: #503E33;
	color: rgba(255,255,255,.3);
}

.img-rating-apartments, .img-rating-motel, .img-rating-hotel{
	display: block;
	position: absolute;
	height: 17px;
	background-image: url(../img/icon-etoile.png);
	background-repeat: repeat-x;
	font-size: 0;
	margin-top: 29px;
}

.img-rating-apartments{
	width: 48px;
	right: 69px;
}

.img-rating-motel{
	width: 72px;
	right: 68px;
}

.img-rating-hotel{
	width: 96px;
	right: 68px;
}

.link-rating{
	position: absolute;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #666666;
	background-color: #F2F2F2;
	text-decoration: none;
	padding-top: 2px;
	padding-bottom: 4px;
	top: 79px;
  	right: 73px;
	text-align: center;
	width: 110px;
}








	/*footer*/
.footer-hashtag, .footer-social, .footer-copyright{
	float: left;
	width: 400px;
	text-align: center;
	padding-top: 36px;
	padding-bottom: 36px;
}

.hashtag{
	display: inline-block;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	vertical-align: middle;
	margin-top: 9px;
	margin-left: 1px;
}

.social-btm{
	display: inline-block;
	vertical-align: middle;
	width: 46px;
	height: 48px;
	position: relative;
	/*margin-top: 36px;*/
	/*margin-bottom: 36px;*/
	margin-right: 2px;
	font-size: 0;
}

.social-btn-twitter{
	margin-left: 1px;
	margin-right: 2px;
}

.social-btm::before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
}

.social-btn-twitter::before{
	width: 17px;
    height: 15px;
    background-position: -5px -587px;
 }

 .social-btn-facebook::before{
	width: 10px;
    height: 22px;
    background-position: -5px -309px;
 }

 .social-btn-youtube::before{
	width: 20px;
    height: 16px;
    background-position: -5px -672px;
 }

.social-btn-twitter:link{
	background-color: #81B3D2;
}

.social-btn-twitter:visited{
	background-color: #81B3D2;
}

.social-btn-twitter:hover{
	background-color: #669EC0;
}

.social-btn-twitter:active{
	background-color: #5496BD;
}

.social-btn-twitter:active::before{
	opacity: 0.3;
}

 .social-btn-facebook:link{
	background-color: #81B3D2;
}

.social-btn-facebook:visited{
	background-color: #81B3D2;
}

.social-btn-facebook:hover{
	background-color: #669EC0;
}

.social-btn-facebook:active{
	background-color: #5496BD;
}

.social-btn-facebook:active::before{
	opacity: 0.3;
}

 .social-btn-youtube:link{
	background-color: #81B3D2;
}

.social-btn-youtube:visited{
	background-color: #81B3D2;
}

.social-btn-youtube:hover{
	background-color: #669EC0;
}

.social-btn-youtube:active{
	background-color: #5496BD;
}

.social-btn-youtube:active::before{
	opacity: 0.3;
}

.footer-line, .footer-icon{
	display: inline-block;
	vertical-align: middle;
}

.footer-line{
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	/*margin-top: 45px;*/
	/*margin-bottom: 49px;*/
}

.footer-icon{
	margin-left: 7px;
	margin-right: 2px;
	margin-top: 5px;
	display: inline-block;
	vertical-align: middle;
	width: 113px;
	height: 39px;
	position: relative;
	font-size: 0;
	/*margin-top: 36px;*/
	/*margin-bottom: 36px;*/
	/*margin-right: 6px;*/
	
}

.footer-icon::before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	background-image: url(../img/spritesheet.png);
	background-repeat: no-repeat;
}

.footer-icon-image::before{
	width: 113px;
    height: 39px;
    background-position: -5px -436px;
 }

 .footer-icon-image:hover::before{
	width: 113px;
    height: 39px;
    background-position: -5px -338px;
 }

 .footer-icon-image:active::before{
	width: 113px;
    height: 39px;
    background-position: -5px -387px;
 }



	/*sprite*/
.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon-calendar1 {
    width: 21px;
    height: 22px;
    background-position: -5px -5px;
}

.sprite-icon-calendar2 {
    width: 21px;
    height: 22px;
    background-position: -5px -37px;
}

.sprite-icon-calendar3 {
    width: 21px;
    height: 22px;
    background-position: -5px -69px;
}

.sprite-icon-checkbox1 {
    width: 22px;
    height: 22px;
    background-position: -5px -101px;
}

.sprite-icon-checkbox2 {
    width: 22px;
    height: 22px;
    background-position: -5px -133px;
}

.sprite-icon-checkbox3 {
    width: 26px;
    height: 22px;
    background-position: -5px -165px;
}

.sprite-icon-checkbox4 {
    width: 26px;
    height: 22px;
    background-position: -5px -197px;
}

.sprite-icon-down1 {
    width: 11px;
    height: 10px;
    background-position: -5px -229px;
}

.sprite-icon-down2 {
    width: 11px;
    height: 10px;
    background-position: -5px -249px;
}

.sprite-icon-down3 {
    width: 11px;
    height: 10px;
    background-position: -5px -269px;
}

.sprite-icon-down4 {
    width: 11px;
    height: 10px;
    background-position: -5px -289px;
}

.sprite-icon-facebook {
    width: 10px;
    height: 19px;
    background-position: -5px -309px;
}

.sprite-icon-logo-blue {
    width: 113px;
    height: 39px;
    background-position: -5px -338px;
}

.sprite-icon-logo-gris {
    width: 113px;
    height: 39px;
    background-position: -5px -387px;
}

.sprite-icon-logo-noire {
    width: 113px;
    height: 39px;
    background-position: -5px -436px;
}

.sprite-icon-minus1 {
    width: 12px;
    height: 3px;
    background-position: -5px -485px;
}

.sprite-icon-minus2 {
    width: 12px;
    height: 3px;
    background-position: -5px -498px;
}

.sprite-icon-minus3 {
    width: 12px;
    height: 3px;
    background-position: -5px -511px;
}

.sprite-icon-plus1 {
    width: 11px;
    height: 11px;
    background-position: -5px -524px;
}

.sprite-icon-plus2 {
    width: 11px;
    height: 11px;
    background-position: -5px -545px;
}

.sprite-icon-plus3 {
    width: 11px;
    height: 11px;
    background-position: -5px -566px;
}

.sprite-icon-twitter {
    width: 17px;
    height: 15px;
    background-position: -5px -587px;
}

.sprite-icon-up1 {
    width: 11px;
    height: 10px;
    background-position: -5px -612px;
}

.sprite-icon-up2 {
    width: 11px;
    height: 10px;
    background-position: -5px -632px;
}

.sprite-icon-up3 {
    width: 11px;
    height: 10px;
    background-position: -5px -652px;
}

.sprite-icon-youtube {
    width: 20px;
    height: 16px;
    background-position: -5px -672px;
}

.sprite-icon1 {
    width: 20px;
    height: 23px;
    background-position: -5px -698px;
}

.sprite-icon11 {
    width: 75px;
    height: 72px;
    background-position: -5px -731px;
}

.sprite-icon2 {
    width: 20px;
    height: 23px;
    background-position: -5px -813px;
}

.sprite-icon22 {
    width: 74px;
    height: 70px;
    background-position: -5px -846px;
}

.sprite-icon33 {
    width: 64px;
    height: 76px;
    background-position: -5px -926px;
}